extends layout
block content
    md-toolbar.md-default(layout="row" class="md-whiteframe-z3")
        md-button.md-toolbar-tools(href="/")
            a(href="/") Interviewly
    .img-box
        .login-wrap.md-whiteframe-z2
            form(name="login")
                md-content
                    md-input-container
                        label Name
                        input(ng-model="user.username" type="text")
                    md-input-container
                        label Password
                        input(ng-model="user.password" type="password")
                md-button(ng-click="submit()") Login
                md-button Sign-up Here