extends layout
block content
    md-toolbar.md-primary(layout="row" layout-align="center center" class="md-whiteframe-z3")
        md-button(href="/home") Interviewly
        span(flex)
        md-button(ng-click="ctrl.openMenu($mdOpenMenu, $event)")
        md-menu






    .views(ng-view="")


