extends layout
block content
    md-toolbar.md-default(layout="row" layout-align="center center" class="md-whiteframe-z3")
        md-button(href="/home") Interviewly
        md-button(href="/events") Events
        md-button(href="/students") Students
        md-button(href="/interviewers") Interviewers
        md-button.md-raised(href="/new-event") Create New Event
        span(flex)
        p(ng-hide="paths") WELCOME {{user.username}}
        .menu(layout-align="center center")
            md-menu(cascade="true" direction="'down'" ng-hide="paths")
                md-button(ng-click="$mdOpenMenu($event)") menu
                md-menu-content(width="4")
                    md-menu-item
                        md-button(href="/archived-events") ARCHIVED EVENTS
                    md-menu-item
                        md-button(href="/profile") PROFILE
                    md-menu-item
                        md-button(ng-controller="logout" ng-click="logout()") LOGOUT
    .views(ng-view="")
