extends layout
block content
    md-toolbar.md-default(layout="row" layout-align="center center" class="md-whiteframe-z3")
        md-button(href="/home") Interviewly for


        img(src="assets/images/prime-logo.png" alt="" width="48" height="48" layout-margin="auto")

        md-button(href="/events") Events
        md-button(href="/students") Students
        md-button(href="/interviewers") Interviewers
        md-button.md-raised(href="/new-event") Create New Event
        span(flex)
        .menu(layout-align="center center")
            md-menu(cascade="true" direction="'down'")
                md-button(ng-click="$mdOpenMenu($event)") menu
                md-menu-content(width="4")
                    md-menu-item
                        md-button(href="/archived-events") ARCHIVED EVENTS
                    md-menu-item
                        md-button(href="/profile") PROFILE
                    md-menu-item
                        md-button(href="/logout") LOGOUT
    .views(ng-view="")