extends layout
block content
    md-toolbar.md-primary(layout="row" layout-align="center center" class="md-whiteframe-z3")
        md-button(href="/home") Interviewly
        md-button Student
        md-button Interviewer
        md-button file Upload
        span(flex)

