doctype html
html(ng-app="app")
    head
        title Interviewly
        link(rel='stylesheet' href='assets/vendor/angular-material.min.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
        base(href='/')
        meta(name="viewport" content="width=device-width initial-scale=1.0")
        //Angular Material Dependencies
        script(src='app.js')
        script(src='assets/vendor/angular.min.js')
        script(src='assets/vendor/angular-animate.min.js')
        script(src='assets/vendor/angular-aria.min.js')
        script(src='assets/vendor/angular-material.min.js')
    body(layout="column")
        block content