doctype html
html.no-js(ng-app="app")
    head
        meta(charset="utf-8")
        title Interviewly
        meta(name="description", content="width=device-width")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1")

        link(rel='stylesheet' href='assets/vendor/angular-material.min.css')
        link(rel='stylesheet' href='assets/css/events.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
        base(href='/')

        //Angular Material Dependencies
        script(src='assets/vendor/angular.min.js')
        script(src='assets/vendor/angular-route.min.js')
        script(src='assets/vendor/angular-animate.min.js')
        script(src='assets/vendor/angular-aria.min.js')
        script(src='assets/vendor/angular-material.min.js')
        script(src='app.js')
        script(src='views/partials/events/eventsCtrl.js')
        script(src='controllers/alertCtrl.js')
        script(src='controllers/modalCtrl.js')

    body
        block content

