doctype html
html(lang="en")
    head
        title= title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        block css
            link(rel='stylesheet', href='assets/css/styles.css')
    body
        block content
        block js
            script(src='app.js')