div(ng-controller="interviewerRank" layout-margin)
   md-content
      md-card(layout="column")
         div(layout="row" layout-align="space-around center")
            md-input-container(flex="30")
               label Interviewer
               md-select(ng-model="interviewer")
                  md-option(ng-repeat="interviewer in interviewers" value="{{interviewer}}") {{interviewer.fName}} {{interviewer.lName}} {{interviewer.company}}
            md-input-container(flex="30")
               label Student
               md-select(ng-model="student")
                  md-option(ng-repeat="student in students" value="{{student}}") {{student.fName}} {{student.lName}}
            .slider.md-body(flex="20") Priority
               md-slider(min="-1" max="1" md-discrete ng-model="weight.value" value="0" aria-label="Slider")
            md-button.md-raised.md-primary(ng-click="save(interviewer, student, weight)") SAVE
         md-card
            md-data-table-container
               table(md-data-table)
                  thead(md-order="query.order")
                     tr
                        th(name="Interviewer" order-by="interviewerName")
                        th(name="Student" order-by="studentName")
                        th(name="Rating" order-by="weight")
                        th(name="Remove Rating")
                  tbody
                     tr(md-auto-select ng-repeat="info in weights")
                        td {{info.interviewerName}}
                        td {{info.studentName}}
                        td {{info.weight}}
                        td
                           md-button.md-icon-button(ng-click="remove(info)")
                              md-icon delete