md-dialog.student(flex="40")
   md-toolbar
      h2.md-display-1(layout="row" layout-margin="auto") Registration
   form
   md-dialog-content
      .inputs
         md-input-container
            label Username
            input(ng-model="username" type="text" name="username" required)
         md-input-container
            label Email
            input(ng-model="email" type="text" name="email" required)
         md-input-container
            label Password
            input(ng-model="password" type="password" name="password" required)
         md-input-container
            label Confirm Password
            input(ng-model="confirm" type="password" name="confirm" required compare-to="password")
         .regbut(layout="row" layout-align="center center")
            md-button.md-raised(ng-click="register(username, email, password)") Submit
            md-button.md-raised.md-warn(ng-click="close()") Cancel