div(ng-controller="interviewerRank" layout-margin="15px")
   md-content
      md-card(layout="column")
         div(layout="row")
            md-input-container(flex="30")
               label Interviewer
               md-select(ng-model="interviewer")
                  md-option(ng-repeat="interviewer in interviewers") {{interviewer.fName}} {{interviewer.lName}} {{interviewer.company}}
            md-input-container(flex="30")
               label Student
               md-select(ng-model="student")
                  md-option(ng-repeat="student in students") {{student.fName}} {{student.lName}}
            md-button(ng-click="save(interviewer._id)") SAVE
         md-slider(flex="30" min="-1" max="1" md-discrete)

         md-card
            md-data-table-container
               table(md-data-table md-row-select="selected" md-progress="deferred")
                  thead(md-order="query.order" md-trigger="onOrderChange")
                     tr
                        th(name="First Name" order-by="name") Interviewer Name
                        th(name="Last Name" order-by="name") Student Name
                        th(name="ranking" order-by="name") Ranking
                  tbody
                     tr(md-auto-select ng-repeat="student in students")
                        td {{selStudent.fName}} {{selStudent.lName}}
                        td {{selInterviewer.fName}} {{selInterviewer.lName}}
                        td {{selInterviewer.rank}}
                        td
                           md-button.md-raised.md-warn(ng-show="student.added" ng-click="remove(student._id)") Remove