div(ng-controller="studentRank")
   md-content
      md-card(layout="column")
         div(layout="row")
            md-input-container(flex="33")
               label Student
               md-select(ng-model="student")
                  md-option(ng-repeat="student in students" value="{{student._id}}") {{student.fName}} {{student.lName}}
            md-input-container(flex="33")
               label Interviewer
               md-select(ng-model="interviewer")
                  md-option(ng-repeat="interviewer in interviewers" value="{{interviewer._id}}") {{interviewer.fName}} {{interviewer.lName}} {{interviewer.company}}
            md-button(ng-click="save(student, interviewer, weight)") SAVE
         md-slider(flex="33" min="-1" max="1" md-discrete ng-model="weight.value")
         md-card
            md-data-table-container
               table(md-data-table md-row-select="selected" md-progress="deferred")
                  thead(md-order="query.order" md-trigger="onOrderChange")
                     tr
                        th(name="First Name" order-by="name") Student Name
                        th(name="Last Name" order-by="name") Interviewer Name
                        th(name="ranking" order-by="name") Ranking
                        th(name="remove") Remove
                  tbody
                     tr(md-auto-select ng-repeat="info in weights")
                        td {{info.studentName}}
                        td {{info.interviewerName}}
                        td {{info.weight}}
                        td
                           md-button.md-icon-button(ng-click="remove(student._id)")
                              md-icon delete
