.welcome
    .studentssheader(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
        img(src="assets/img/logo@0.5x.png" alt="" width="100" height="100" layout-margin="auto")
        h1.md-display-1 Welcome to Interviewly!

.formlay(layout="row" layout-margin="auto")
    span(flex="20")
    .md-whiteframe-z2(layout="column" flex="60")
        form(name="new-event")
            h2.md-headline(layout="row" layout-margin="auto") Hello!
            p.md-body-1(layout="row" layout-margin="auto") What happens when you cross Sudoku, 'Speed Dating' and Interviewing? An event scheduling nightmare!
                |Interviewly is here to help. Interviewly radically simplifies the process of
                |scheduling events, specifically those difficult to manage events where you need to
                |match up a bunch of interviewers with a bunch of interviewees in a short amount of time!

            h2.md-headline(layout="row" layout-margin="auto") Using Interviewly is EASY!

        .header(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
            img(src="assets/img/logo@0.5x.png" alt="" width="50" height="50" layout-margin="auto")
            p.md-body-1(layout="row" layout-margin="auto") Log In or Register to gain access to Interviewly.

        .header(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
            img(src="assets/img/logo@0.5x.png" alt="" width="50" height="50" layout-margin="auto")
            p.md-body-1(layout="row" layout-margin="auto") Once you log in you are now on the Events page! If you have no Events
                |click on Create New Event. To view an Event click on the Interviewly logo within the Event.

        .header(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
            img(src="assets/img/logo@0.5x.png" alt="" width="50" height="50" layout-margin="auto")
            p.md-body-1(layout="row" layout-margin="auto") Click on Students to add new students to an Event.
                | Click in Interviewers to add new interviewers to an Event. Each option allows you to add one at a time, in line,
                | or in bulk via CSV upload!

        .header(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
            img(src="assets/img/logo@0.5x.png" alt="" width="50" height="50" layout-margin="auto")
            p.md-body-1(layout="row" layout-margin="auto") Click on the Menu icon to view any Archived Events,
                | your Profile where you can change your password, or Logout.

        .header(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
            img(src="assets/img/logo@0.5x.png" alt="" width="50" height="50" layout-margin="auto")
            p.md-body-1(layout="row" layout-margin="auto") Once you have created an Event, added Students and added
                | Interviewers click Generate and your Event will populate with everything you need!

    span(flex="20")