.welcome
    .studentssheader(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
        h1.md-display-1 Welcome to Interviewly!

.formlay(layout="row" layout-margin="auto")
    span(flex="20")
    .md-whiteframe-z2(layout="column" flex="60")
        form(name="new-event")
            h2.md-headline(layout="row" layout-margin="auto") Hello!
            p.md-body-1(layout="row" layout-margin="auto") Lorum ipsum.


    span(flex="20")