md-dialog.interviewer(flex="40")
   md-toolbar
      h2.md-display-1(layout="row" layout-margin="auto") Add Interviewer
   form(name="interviewerForm" layout="row")
   md-dialog-content()
      .inputs(layout="column")
               md-input-container
                  label Name
                  input(type="text")
               md-input-container
                  label Title
                  input(type="text")
               md-input-container
                  label Company
                  input(type="text")
               md-input-container
                  label Link
                  input(type="text")
               md-input-container
                  label Description
                  input(type="text")
               md-input-container
                  label Select Event
                  md-select(ng-model="event")
                     md-option(ng-repeat="event in events")
                        p.md-body-1  {{event.name}}
               md-input-container
                  label Start Time
                  input(type="time")
               md-input-container
                  label End Time
                  input(type="time")
               md-input-container
                  label Select Cohort
                  md-select(ng-model="cohort")
                     md-option(ng-repeat="cohort in cohorts")
                         p.md-body-1  {{cohort.name}}
            .loginbut(layout="row" layout-align="center center")
               md-button.md-raised() Save
               md-button.md-raised.md-warn(ng-click="close()") Cancel
