.formlay(layout="row" layout-margin="auto")
   span(flex="30")
   .md-whiteframe-z2(layout="column" flex="40")
      form(name="login")
         md-content(layout-padding)
            md-input-container
               label Name
               input(ng-model="user.username" type="text")
            md-input-container
               label Password
               input(ng-model="user.password" type="password")
            .loginbut(layout="row" layout-align="center center")
               md-button.md-raised.md-warn(ng-click="submit()") Login
                  span(flex)
               md-button.md-raised() Sign Up
   span(flex="30")