.student(ng-controller="student")
    md-select
        md-option(ng-repeat="event in events")
    md-input-container
        md-input(type="text")
        md-input(type="text")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-select
        md-option(ng-repeat="company in companies")
    md-button Save to Event
    p OR
    md-input
    md-button Upload
    md-button Edit
    md-button Cancel
    md-button Save to Event