.forgot(layout="row" layout-margin="auto")
   span(flex="30")
   .md-whiteframe-z2(layout="column" flex="40" style="margin:50px 0; ")
      form(name="reset" ng-controller="reset")
         md-content(layout-padding)
            md-input-container
               label Password
               input(type="password" ng-model="password" required)
            md-input-container
               label Confirm Password
               input(type="password" ng-model="confirm" required)
            .forgotBut(layout="row" layout-align="center center")
         md-button.md-raised(ng-click="changePass(password, confirm, headers.host.token)") Submit
   span(flex="30")