.welcome
    .interviewersheader(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
        h1.md-display-1 Events

        .searchsheader(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
            md-content(layout-margin="auto")
                md-input-container
                    label Search Events
                    input(ng-model="search" type="text")
            .searchbut(layout="row" layout-align="center center")
                md-button.md-raised(ng-click="submit()") Go
                    span(flex)

    .gridheader(layout="row" layout-align="center center" layout-margin="auto" layout-padding="auto" flex="auto")
        div(ng-controller="eventsCtrl as vm", flex="auto", ng-cloak="" class="eventsCtrl" ng-app="app")
            md-grid-list(md-cols-gt-md="6", md-row-height-gt-md="1:1", md-row-height="4:3", md-gutter="8px", md-gutter-gt-sm="4px")
                md-grid-tile(ng-repeat="tile in vm.tiles", md-rowspan="{{tile.span.row}}", md-colspan="{{tile.span.col}}", md-colspan-sm="1", ng-class="tile.background")
                    h4.md-subhead(layout="column" layout-align="start center" layout-margin="auto" layout-padding="auto" flex="auto") {{tile.title}}
                        md-button(ng-click="submit()")
                            img(src="assets/images/logo@0.5x.png" alt="" width="75" height="75" layout-margin="auto")

                    md-grid-tile-footer(layout="row" layout-align="end center")
                        .buttonheader
                            md-button.md-icon-button.md-primary(ng-controller="modalCtrl" ng-click="showAlert($event)")
                                md-icon.i.material-icons archive
                            md-button.md-icon-button.md-warn(ng-controller="modalCtrl" ng-click="showConfirm($event)")
                                md-icon.i.material-icons delete
                            br
                            b(layout="row", layout-align="center center", layout-margin="")
                                | {{alert}}
