.welcome
    .eventsheader(layout="row" layout-align="start center" layout-margin="auto" flex="90" ng-controller="eventSchedule")
        div
            button(ng-click="generate()") Generate
        div(id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-exporter class="schedGrid" flex="90")