md-content.md-default.eventBg(ng-controller="students" layout="column")
    md-card.md-whiteframe-5dp
        md-data-table-toolbar.eventBg(ng-show="selected.length" layout-align="space-between")
            h2.md-title {{selected.length}} Students Selected
            div(flex)
            md-button.md-icon-button(ng-click="archiveSelected(selected)")
                md-icon archive
                md-tooltip Archive
            md-button.md-icon-button
                md-icon close
                md-tooltip Cancel
        md-data-table-toolbar.md-primary.eventBg(ng-hide="filter.show || selected.length")
            h2.md-title Students
            div(flex)
            md-button.md-icon-button(ng-click="filter.show = true")
                md-icon filter_list
                md-tooltip Filter
            md-button.md-icon-button(ng-controller="student" ng-click="openStudents()")
                md-icon add
                md-tooltip Add
            md-button.md-icon-button(ng-controller="uploads" ng-click="openUploads($event)")
                md-icon file_upload
                md-tooltip Upload
        md-data-table-toolbar.eventBg(layout="row" ng-show="filter.show && !selected.length")
            md-icon search
            form(flex name="filter.form")
                md-input-container
                    label cohort
                    input(type="text" ng-model="query.cohort" ng-model-options="filter.options" ng-change="search(query)")
            span(flex="70")
            md-button.md-icon-button(ng-click="removeFilter()")
                md-icon close
        md-data-table-container.eventBg
            table.md-primary.eventBg(md-data-table md-row-select="selected" md-progress="deferred")
                thead.eventBg(md-order="query.order" md-trigger="onOrderChange")
                    tr
                        th
                            md-checkbox(aria-label="Select All" ng-click="toggleAll()" ng-model="student.selected")
                        th(name="First Name" order-by="name") First Name
                        th(name="Last Name" order-by="type") Last Name
                        th(name="email" order-by="email") Email
                        th(name="cohort" order-by="cohort") Cohort
                        th(name="archive") Archive
                        th(name="edit") Edit
                tbody.eventBg
                    tr(md-auto-select ng-repeat="student in students")
                        td
                            md-checkbox(aria-label="Select Row" ng-click="toggleRow(student)" ng-checked="student.selected")
                        td {{student.fName}}
                        td {{student.lName}}
                        td {{student.email}}
                        td {{student.cohort}}
                        td
                            md-button.md-icon-button(ng-click="archive(student._id)" aria-label="archive")
                                md-icon archive
                        td
                            md-button.md-icon-button(ng-click="editStudent(student._id)" aria-label="edit")
                                md-icon.material-icons.md-dark edit