.welcome(ng-controller="students" layout="column")
    md-content(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
        md-subheader
            h1.md-display-1 Students

        .searchsheader(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
            md-content(layout-margin="auto")
                md-input-container
                    label Search Students
                    input(ng-model="search" type="text")
            .searchbut(layout="row" layout-align="center center")
                md-button.md-raised(ng-click="submit()") Go
                    span(flex)
            .addheader(layout="row" layout-margin="auto" flex="auto" layout-align="end center")
        md-button.md-raised(ng-controller="student" ng-click="openStudents($event)") Add Student
            span(flex)
        md-button.md-raised(ng-controller="uploads" ng-click="openUploads($event)") Upload File
            span(flex)
    span(flex="5")
    md-content
        md-card(ng-show="students.length")
            md-data-table-toolbar
                h2(class="md-title") Students
            md-data-table-container
                table.md-primary(md-data-table md-row-select="selected" md-progress="deferred")
                    thead(md-order="query.order" md-trigger="onOrderChange")
                        tr
                            th(name="First Name" order-by="name") First Name
                            th(name="Last Name" order-by="type") Last Name
                            th(name="email" order-by="email") Email
                            th(name="cohort" order-by="cohort") Cohort
                    tbody
                        tr(md-auto-select ng-repeat="student in students | orderBy: query.order | limitTo: query.limit: (query.page -1) * query.limit")
                            td {{student.fName}}
                            td {{student.lName}}
                            td {{student.email}}
                            td {{student.cohort}}
                            td
                                md-button.md-raised(ng-click="archive(student._id)") Archive
                            td
                                md-button.md-raised(ng-click="editStudent(student._id)") Edit
            md-data-table-pagination(md-limit="query.limit" md-page="query.page" md-total="{{students.length}}" md-trigger="onpagechange")


