md-content.md-default(ng-controller="students" layout="column")
    md-card.md-whiteframe-5dp(ng-show="students.length")
        md-data-table-toolbar.md-primary
            h2.md-title Students
            div(flex)
            md-button.md-icon-button.md-default
                i.material-icons.md-dark filter_list
                div.md-ripple-container
            md-button.md-icon-button.md-default(ng-controller="student" ng-click="openStudents($event)")
                i.material-icons.md-dark add
            md-button.md-icon-button.md-default(ng-controller="uploads" ng-click="openUploads($event)")
                i.material-icons.md-dark file_upload
        md-data-table-container
            table.md-primary(md-data-table md-row-select="selected" md-progress="deferred")
                thead(md-order="query.order" md-trigger="onOrderChange")
                    tr
                        th(name="First Name" order-by="name") First Name
                        th(name="Last Name" order-by="type") Last Name
                        th(name="email" order-by="email") Email
                        th(name="cohort" order-by="cohort") Cohort
                tbody
                    tr(md-auto-select ng-repeat="student in students | orderBy: query.order | limitTo: query.limit: (query.page -1) * query.limit")
                        td {{student.fName}}
                        td {{student.lName}}
                        td {{student.email}}
                        td {{student.cohort}}
                        td(layout="row" layout-align="center end")
                            md-button.md-icon-button(ng-click="archive(student._id)" aria-label="archive")
                                i.material-icons.md-dark archive
                                .md-ripple.container
                            md-button.md-icon-button(ng-click="editStudent(student._id)" aria-label="edit")
                                i.material-icons.md-dark edit
                                .md-ripple-container
        md-data-table-pagination(md-limit="query.limit" md-page="query.page" md-total="{{students.length}}" md-trigger="onpagechange")