.welcome(ng-controller="students" layout="column")
    .studentssheader(ng-controller="viewEventCtrl" layout="row" layout-align="start center" layout-margin="auto" flex="auto")
        h1.md-display-1 {{eventTitle}}