.welcome(ng-controller="viewEventCtrl" layout="column")
    .header(layout="row" layout-align="start center" layout-margin="auto" flex="auto")
        md-subheader(class="md-primary")
            h1.md-display-1 {{eventTitle}}
            span(flex)
    md-tabs.md-primary(md-dynamic-height md-border-bottom)
        md-tab(label="Event Details")
            md-content
                .formlay(layout="row" layout-margin="auto")
                    span(flex="20")
                    .md-whiteframe-z2(layout="column" flex="60")
                        form(name="new-event")
                            p.md-body-1(layout="row" layout-margin="auto") Date: {{eventDate}}
                            p.md-body-1(layout="row" layout-margin="auto") Start time: {{eventStime}}
                            p.md-body-1(layout="row" layout-margin="auto") End time: {{eventEtime}}
                            p.md-body-1(layout="row" layout-margin="auto") Interview duration: {{eventDur}}
                            p.md-body-1(layout="row" layout-margin="auto") Location: {{eventLoc}}
                            p.md-body-1(layout="row" layout-margin="auto") Organizer: {{eventOrg}}
            div(flex)
                md-button EDIT
        md-tab(label="STUDENTS")
            div(ng-include="'views/partials/events/add-students/add-students.html'")
        md-tab(label="INTERVIEWERS")
            div(ng-include="'views/partials/events/add-interviewers/add-interviewers.html'")
        md-tab(label="SCHEDULE")
            div(ng-include="'views/partials/events/schedule/schedule.html'")

