.welcome
    .header(layout="row" layout-align="start center" layout-padding flex)
        md-subheader.md-primary
            h1.md-display-1 Events
    .gridheader(layout="row" layout-align="center center" layout-margin layout-padding flex)
        div(ng-controller="eventsCtrl" flex="auto" ng-cloak="" class="eventsCtrl")
            md-grid-list(md-cols-gt-md="6", md-row-height-gt-md="1:1", md-row-height="4:3", md-gutter="8px", md-gutter-gt-sm="4px")
                md-grid-tile(ng-repeat="tile in tiles track by tile._id" md-rowspan="1", md-colspan="1", md-colspan-sm="1", class="gray")
                    h4.md-subhead(layout="column" layout-align="start center" layout-margin="auto" layout-padding="auto" flex="auto") {{tile.cohort}} {{tile.type}}
                        md-button(href="/event?_id={{tile._id}}" aria-label="Button")
                            img(src="assets/img/logo@0.5x.png" alt="Event" width="75" height="75" layout-margin="auto")
                    md-grid-tile-footer(layout="row" layout-align="end center")
                        .buttonheader
                            md-button.md-icon-button.md-primary(ng-controller="modalCtrl" ng-click="showAlert(tile._id)")
                                md-icon archive
                            md-button.md-icon-button.md-warn(ng-controller="modalCtrl" ng-click="showConfirm(tile._id)" flex flex-md="100")
                                md-icon delete