md-dialog.student(flex="40")
   md-toolbar
      h2.md-display-1(layout="row" layout-margin="auto") CSV File Upload
   md-dialog-content(layout="column" layout-padding layout-margin)
      md-button.md-raised.md-primary(ngf-select="upload($file)") Select File
      md-button.md-raised.md-warn(ng-click="close()") Cancel