#new-overlay
.formlay(layout="row" layout-margin="auto")
   span(flex="30")
   .md-whiteframe-z2(layout="column" flex="40" style="margin:50px 0; ")
      form(name="login" ng-controller="login")
         md-content(layout-padding)
            md-input-container
               label Username
               input(ng-model="username" type="text" required)
            md-input-container
               label Password
               input(ng-model="password" type="password" required)
          .loginbut(layout="row" layout-align="center center")
             md-button.md-raised(ng-click="submit(username, password)") Login
             md-button.md-raised(ng-controller="registerOpen" ng-click="openRegister($event)") Sign Up
          .loginbut(layout="row" layout-align="center center")
             md-button.md-warn.md-hue-1(ng-click="forgot()") Forgot Password?
   span(flex="30")