md-dialog
    md-toolbar(layout="row" layout-align="center center")
        h2.md-display-1 Add Interviewers To Event
        div(flex)
        md-button.md-icon-button(ng-click="close()")
            md-icon close
    md-dialog-content(layout-margin layout-padding)
        md-data-table-container
            table(md-data-table)
                thead
                    tr
                        th(name="FirstName") First Name
                        th(name="LastName") Last Name
                        th(name="company") Company
                        th(name="add") Add
                tbody
                    tr(md-auto-select ng-repeat="interviewer in interviewers")
                        td {{interviewer.fName}}
                        td {{interviewer.lName}}
                        td {{interviewer.company}}
                        td
                            md-button.md-icon-button(ng-click="add(interviewer._id)")
                                md-icon add
