.welcome(ng-controller="addStudents" layout="column")
    md-content.eventBg
        md-card
            md-data-table-toolbar.eventBg
                h2(class="md-title") Students
            md-data-table-container.eventBg
                table(md-data-table md-row-select="selected" md-progress="deferred")
                    thead.eventBg(md-order="query.order" md-trigger="onOrderChange")
                        tr
                            th(name="First Name" order-by="name") First Name
                            th(name="Last Name" order-by="name") Last Name
                            th(name="email" order-by="name") Email
                            th(name="cohort" order-by="name") Cohort
                            th(name="addRemove" order-by="name") Add / Remove
                    tbody.eventBg
                        tr(md-auto-select ng-repeat="student in students")
                            td {{student.fName}}
                            td {{student.lName}}
                            td {{student.email}}
                            td {{student.cohort}}
                            td
                                md-button.md-icon-button(ng-hide="student.added" ng-click="addStudent(student._id)")
                                    md-icon add
                                md-button.md-icon-button(ng-show="student.added" ng-click="remove(student._id)")
                                    md-icon remove
