.formlay(layout="row" layout-margin="auto")
   span(flex="20")
   .md-whiteframe-z2(layout="column" flex="60" style="margin-top:50px")
      form(name="new-event")
         h2.md-display-1(layout="row" layout-margin="auto") Create New Event
         md-content(layout-margin="auto")

            md-input-container
               label Event Title
               input(ng-model="title" type="text" required)

            md-input-container
               label Event Location
               input(ng-model="location" type="text" required)

            md-input-container
               label Event Organizer
               input(ng-model="organizer" type="text" optional)

            md-input-container
               label Event Description
               input(ng-model="organizer" type="text" optional)

            md-datepicker(ng-model="myDate", md-placeholder="Enter date")

            md-input-container
               label Event Start Time
               input(ng-model="description" type="text")

            md-input-container
               label Event End Time
               input(ng-model="description" type="text")

            md-input-container
               label Interview Time Duration
               input(ng-model="description" type="text")


            md-input-container
               label Type of Event
               input(ng-model="description" type="text")


            md-input-container
               label Add Students to Event
               input(ng-model="description" type="text")

            md-input-container
               label Add Interviewers to Event
               input(ng-model="description" type="text" optional)

            .loginbut(layout="row" layout-align="center center")
               md-button.md-raised(ng-click="submit()") Create Event
                  span(flex)
               md-button.md-raised.md-warn() Cancel
   span(flex="20")

