.welcome(ng-controller="eventInterviewers" layout="column")
    md-content.eventBg
        md-card
            md-data-table-toolbar.eventBg
                h2(class="md-title") Interviewers
                div(flex)
                md-button.md-icon-button(ng-click="addInterviewerDialog()")
                    md-icon add
                        md-tooltip Add Interviewers
            md-data-table-container.eventBg
                table(md-data-table md-row-select="selected" md-progress="deferred")
                    thead.eventBg(md-order="query.order" md-trigger="onOrderChange")
                        tr.eventBg
                            th(name="First Name" order-by="name") First Name
                            th(name="Last Name" order-by="name") Last Name
                            th(name="company" order-by="name") Company
                            th(name="title" order-by="name") Title
                            th(name="remove" order-by="name") Remove From Event
                            th(name="availability" order-by="availability") Availability
                    tbody.eventBg
                        tr(md-auto-select ng-repeat="interviewer in interviewers")
                            td {{interviewer.fName}}
                            td {{interviewer.lName}}
                            td {{interviewer.company}}
                            td {{interviewer.title}}
                            td
                                md-button.md-icon-button(ng-click="remove(interviewer._id)")
                                    md-icon remove
                            td
                                md-button.md-icon-button(ng-click="editAvailability(interviewer._id)")
                                    md-icon event_available