.formlay(layout="row" layout-margin="auto")
   span(flex="20")
   .md-whiteframe-z2(layout="column" flex="60" style="margin-top:50px")
      h3.md-headline(layout="row" layout-margin="auto" layout-align="center center") You have successfully logged out!

