.formlay(layout="row" layout-margin="auto")
   span(flex="20")
   .md-whiteframe-z2(layout="column" flex="60" style="margin-top:50px")
      form(name="profile")
         h2.md-display-1(layout="row" layout-margin="auto") Profile
         p.md-body-1(layout="row" layout-margin="auto") Update your Profile details below
         md-content(layout-margin="auto")

            md-input-container
               label Username
               input(ng-model="location" type="text")

            md-input-container
               label Email
               input(ng-model="organizer" type="text")

            md-input-container
               label Password
               input(ng-model="organizer" type="text")

            .savebut(layout="row" layout-align="center center")
               md-button.md-raised(ng-click="save()") Save
                  span(flex)
   span(flex="20")

