md-dialog.student(flex="40")
    md-toolbar
        h2.md-display-1(layout="row" layout-margin="auto") Add Student
    md-dialog-content
        form(name="studentForm" novalidate)
            .inputs
                md-input-container
                    label First Name
                    input(ng-model="fname" name="fname" type="text" required)
                    div(ng-messages="studentForm.fname.$error")
                        div(ng-message="required") *Required
                md-input-container
                    label Last Name
                    input(ng-model="lname" name="lname" type="text" required)
                    div(ng-messages="studentForm.lname.$error")
                        div(ng-message="required") *Required
                md-input-container
                    label Email
                    input(ng-model="email" name="email" type="email" required)
                    div(ng-messages="studentForm.email.$error")
                        div(ng-message="required") *Required
                md-input-container
                    label Select Cohort
                    md-select(ng-model="cohort" name="cohort" required)
                        md-option(ng-repeat="cohort in cohorts")
                            p.md-body-1  {{cohort.name}}
                    div(ng-messages="studentForm.cohort.$error")
                        div(ng-message="required") *Required
                .loginbut(layout="row" layout-align="center center")
                    md-button.md-raised(ng-disabled="studentForm.$invalid" ng-click="submit(fname, lname, email, cohort)") Save
                    md-button.md-raised.md-warn(ng-click="close()") Cancel